html,body{  
    background-image: url("../images/greenhouse.jpg");
    background-attachment: fixed;
    height: 100%;
}
.login-card{
    margin-top: 30%;
    background-color: white;
    color: rgb(85, 125, 117);
    border-radius: 5%;
    padding: 25px;
}
.register-card{
    margin-top: 20%;
    background-color: white;
    color: rgb(85, 125, 117);
    border-radius: 5%;
    padding: 25px;
}
img.login-logo{
    height: 100px;
}